{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}
Damage Reports
{% endblock %}
{% block body %}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Books that you have lended</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable" style=" overflow:hidden;overflow-y: scroll;">
                        <thead>
                        <tr>
                            <th scope="col">Book id </th>
                            <th scope="col">Name</th>
                            <th scope="col">Copy no</th>
                            <th scope="col">Date returned</th>
                            <th scope="col">Renewed</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for i in iss %}

                        <tr>
                            <td>{{i.bookid.bookid}}</td>
                            <td>{{i.bookid.title}}</td>
                            <td>{{i.copy_no}}</td>
                            <td>{{i.date_returned}}</td>
                            <td>{{i.renewed}}</td>
                        </tr>


                        {% endfor %}

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}